.navbar {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin-right: 20px;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .nav-menu a:hover {
    color: #007bff;
  }

  .btnReservar {
    background-color: #006a65;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .search-input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .icon-moon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icon-moon {
    width: 20px;
    height: 20px;
    fill: #333; /* Color del icono */
  }